extends layout

block content
	.container
		.navbar 
			span.glyphicon.glyphicon-map-marker TripPlanner
		.map#map
		.filters
			.items
				each val, prop in locals.renderObj
					label #{prop}
					input(list="#{prop}" name="#{prop}")
					datalist(id="#{prop}")
						each val2 in val
							option(value="#{val2.name}")
					button(class="delete") X
			.itinerary HERE IS YOUR ITINERARY